/* src/pages/main/style.css */

.main-page {
    font-family: Arial, sans-serif;
}

.discussion-rooms,
.trending-rooms,
.explore {
    margin: 20px 0;
}

.room-list,
.explore-list {
    display: flex;
    flex-wrap: wrap;
}

.room-list>div,
.explore-list>div {
    flex: 1 1 30%;
    margin: 10px;
}