.movie-information {
    text-align: center;
  }
  .movie-information img {
    max-width: 100%;
    height: auto;
  }
  .movie-information h1 {
    font-size: 2em;
    margin: 10px 0;
  }
  .movie-information p {
    font-size: 1.2em;
    color: #666;
  }