.search-box {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-box input {
    width: 70%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-box button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ff4500;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}